Repository webgme/webgme-engine, pull requests merged in 2018-10, with the labels that each got.

#132 More descriptive error message when given plugin nsp does not exist
  src/plugin/util.js
  test/plugin/nodemanagerbase.spec.js
  test/server/worker/simpleworker.spec.js
Labels: Enhancement, Minor, Plugin

#135 Fixes #134 META object with namespace in invoked plugin is empty
  src/plugin/PluginBase.js
  test/plugin/coreplugins/coreplugins.spec.js
  test/plugin/scenarios/InvokeScenarios.spec.js
  test/plugin/scenarios/plugins/InvokedPlugin/InvokedPlugin.js
  test/plugin/scenarios/plugins/InvokedPlugin/metadata.json
  test/plugin/scenarios/plugins/InvokerPlugin/InvokerPlugin.js
  test/plugin/scenarios/plugins/InvokerPlugin/metadata.json
  test/plugin/scenarios/seeds/namespaces.webgmex
Labels: Bug, Major, Plugin

#136 Fix bug where meta-rule checking reports readonly attributes as invalid
  package-lock.json
  src/common/core/users/metarules.js
  test/common/core/users/metarules.spec.js
Labels: Bug, Meta, Minor
