Repository webgme/webgme-engine, pull requests merged in 2018-04, with the labels that each got.

#79 Fixes #77 adds support for default admin account and public organization
  config/config.default.js
  config/validator.js
  src/plugin/PluginBase.js
  src/server/middleware/auth/gmeauth.js
  test/server/middleware/auth/gmeauth.configusersandorgs.spec.js
Labels: Auth, Minor, New feature

#80 Closes #78 Add support to specify seeds to be created at server start up
  config/config.default.js
  config/validator.js
  index.js
  src/server/standalone.js
  src/utils.js
  test/config/config.spec.js
  test/server/standalone.auth.spec.js
  test/server/standalone.startup.spec.js
Labels: Enhancement, Minor, Server

#83 Closes #81 Allow inferred users to have displayName
  src/common/storage/constants.js
  src/server/api/index.js
  src/server/api/webgme-api.raml
  src/server/middleware/auth/gmeauth.js
  src/server/standalone.js
  test/server/api/project/index.project.spec.js
  test/server/api/user/index.user.spec.js
  test/server/api/users/index.users.spec.js
  test/server/storage/metadatastorage.spec.js
Labels: Enhancement, Minor, REST API, Server

#84 Remove restriction on zip file size of complex blob artifact
  package-lock.json
  package.json
  src/common/blob/BlobClient.js
  src/common/blob/Readme.md
  src/server/middleware/blob/BlobBackendBase.js
  test/common/blob/BlobClient.spec.js
  test/plugin/coreplugins/MetaGMEParadigmImporter/MetaGMEParadigmImporter.spec.js
  test/server/middleware/blob/BlobRunPluginClient.spec.js
Labels: Blob, Enhancement, Major
