Repository webgme/webgme-engine, pull requests merged in 2018-08, with the labels that each got.

#115 Fixes #111 Absolute login and logout urls do not work if app is mounted at different path.
  src/server/standalone.js
  test/server/standalone.spec.js
Labels: Bug, Major, Server

#118 Add getRootHash and getCommitObject on project API
  src/common/storage/project/interface.js
  test/common/storage/project.spec.js
  test/server/storage/userproject.spec.js
Labels: Enhancement, Minor, Storage

#117 FIX undo/redo not working on client
  src/client/client.js
Labels: Bug, Client Library, Major

#116 Handle --inspect option at spawned add-on process
  src/addon/addonmanager.js
  src/addon/addonworkermanager.js
  src/server/worker/serverworkermanager.js
  test/_globals.js
  test/bin/addon_handler.spec.js
Labels: AddOn, Bug, Minor

#119 Some jsdoc fixes in core and project API
  src/common/core/core.js
  src/common/storage/project/interface.js
  src/docs/client.getter.doc.js
Labels: Core, Documentation, Enhancement, Minor, Storage

#123 Fixes #121, Fixes #122 and adds core.createChild and harmonizes jsdoc documentation
  index.js
  src/common/core/core.js
  src/common/core/coretype.js
  src/common/core/metacore.js
  src/common/storage/project/interface.js
  src/docs/def.doc.js
  src/plugin/PluginBase.js
  src/plugin/util.js
  test/common/core/core.spec.js
  test/common/core/metacore.spec.js
  test/plugin/nodemanagerbase.spec.js
Labels: Core, Documentation, Enhancement, Minor, Plugin, Storage

#124 Add option to generate python plugin from PluginGenerator
  README.md
  src/plugin/coreplugins/PluginGenerator/PluginGenerator.js
  src/plugin/coreplugins/PluginGenerator/Templates/Templates.js
  src/plugin/coreplugins/PluginGenerator/Templates/combine_templates.js
  src/plugin/coreplugins/PluginGenerator/Templates/combine_templates.js.ejs
  src/plugin/coreplugins/PluginGenerator/Templates/meta.js.ejs
  src/plugin/coreplugins/PluginGenerator/Templates/plugin.js.ejs
  src/plugin/coreplugins/PluginGenerator/__init___py.ejs
  src/plugin/coreplugins/PluginGenerator/metadata.json
  src/plugin/coreplugins/PluginGenerator/metadata_json.ejs
  src/plugin/coreplugins/PluginGenerator/plugin_bindings_js.ejs
  src/plugin/coreplugins/PluginGenerator/plugin_js.ejs
  src/plugin/coreplugins/PluginGenerator/run_debug_py.ejs
  src/plugin/coreplugins/PluginGenerator/run_plugin_py.ejs
  src/plugin/coreplugins/PluginGenerator/unit_test_js.ejs
  test/plugin/coreplugins/PluginGenerator/PluginGenerator.spec.js
  test/server/standalone.spec.js
Labels: Enhancement, Minor, Plugin

#127 Fixes #126 Seeds are uploaded to blob correctly at /api/seeds/:seedName
  package.json
  src/server/api/index.js
  test-karma/client/js/gmeServerRequests.spec.js
  test/server/api/index.spec.js
Labels: Bug, Minor, REST API
