Repository webgme/webgme-engine, pull requests merged in 2018-03, with the labels that each got.

#53 Use the plugin.result as default result value. Fixes #52
  src/plugin/managerbase.js
Labels: Enhancement, Minor, Plugin

#55 Fixes #54 add rest status end points
  src/server/api/index.js
  src/server/api/webgme-api-status-add-ons-response.json
  src/server/api/webgme-api-status-response.json
  src/server/api/webgme-api-status-server-workers-response.json
  src/server/api/webgme-api-status-web-sockets-response.json
  src/server/api/webgme-api.raml
  src/server/standalone.js
  src/server/storage/websocket.js
  src/server/worker/WorkerManagerBase.js
  src/server/worker/serverworkermanager.js
  test/server/api/addon/addon.spec.js
  test/server/api/index.spec.js
Labels: Enhancement, Minor, REST API, Server

#56 Fixes #48 renameAttributeMeta does not exist on client API
  src/client/gmeNodeSetter.js
  src/common/core/core.js
  src/common/core/metacore.js
  src/common/core/mixincore.js
  test/client/js/client/gmeNodeSetter.spec.js
  test/common/core/core.spec.js
  test/common/core/metacore.spec.js
  test/common/core/mixincore.spec.js
Labels: Bug, Core, Enhancement, Minor

#58 Fix tests checking for invalid regular expressions which changed around node v8.10.0
  src/client/client.js
  src/common/storage/constants.js
  src/common/storage/storageclasses/editorstorage.js
  src/plugin/PluginBase.js
  src/server/api/index.js
  src/server/middleware/executor/ExecutorServer.js
  src/server/storage/storage.js
  src/server/storage/userproject.js
  test/common/core/users/metarules.spec.js
  test/server/storage/userproject.spec.js
Labels: Bug, Meta, Test

#59 Enable plugins to be required without requirejs and passed to manager as "class"
  src/client/pluginmanager.js
  src/common/Constants.js
  src/common/core/constants.js
  src/common/storage/constants.js
  src/plugin/InterPluginResult.js
  src/plugin/PluginBase.js
  src/plugin/PluginConfig.js
  src/plugin/PluginManagerConfiguration.js
  src/plugin/PluginMessage.js
  src/plugin/PluginNodeDescription.js
  src/plugin/PluginResult.js
  src/plugin/PluginResultBase.js
  src/plugin/coreplugins/MinimalWorkingExample/MinimalWorkingExample.js
  src/plugin/managerbase.js
  src/plugin/util.js
  test/plugin/nodemanagerbase.spec.js
Labels: Enhancement, Major, Plugin

#61 Fixes #60 Cascading moves cause crash during merge
  src/common/core/corediff.js
  test/common/core/corediff.scenarios.spec.js
Labels: Bug, Core, Major, Merge

#62 Fixes #57 expose serialization functions
  jsdoc_conf.json
  src/common/storage/project/interface.js
  src/common/storage/util.js
  src/common/util/serialization.js
  src/server/worker/workerrequests.js
Labels: Enhancement, Minor, Server worker, Storage

#64 Fixes #63 Expose usage of seed in addLibrary/updateLibrary/updateProjectFromFile from client
  karma.conf.js
  src/client/gmeServerRequests.js
  src/docs/client.doc.js
  src/server/api/index.js
  src/server/api/webgme-api-seeds-seedName.json
  src/server/api/webgme-api.raml
  test-karma/client/js/gmeServerRequests.spec.js
  test/server/api/index.spec.js
Labels: Client Library, Enhancement, Minor, REST API

#66 Closes #65 Exception in mixin core when checking valid attribute of undefined attribute.
  src/common/core/core.js
  test/common/core/core.spec.js
Labels: Core, Enhancement, Minor

#69 Initiate graceful server shutdown on SIGTERM
  src/server/standalone.js
Labels: Enhancement, Minor, Server

#72 Use the activeObject for the nodeId on the client. Fixes #71
  src/client/pluginmanager.js
Labels: Bug, Core, Minor, Plugin

#75 Fixes #74 do not add extra webgmex at project export
  src/common/util/serialization.js
Labels: Bug, Minor, Server worker, Util

#76 Fixes #73 Containment inheritance loop detection during node creation is missing
  src/client/gmeNodeGetter.js
  src/common/core/core.js
  src/common/core/coretype.js
  src/docs/client.getter.doc.js
  test/client/js/client/gmeNodeGetter.spec.js
  test/common/core/core.spec.js
  test/common/core/coretype.spec.js
Labels: Bug, Core, Major

#67 Add method getUserId on Project, Plugin and Client APIs
  src/client/client.js
  src/common/storage/project/interface.js
  src/common/storage/project/project.js
  src/docs/client.doc.js
  src/plugin/PluginBase.js
  src/server/storage/userproject.js
  test-karma/client/js/client.spec.js
  test/common/storage/project.spec.js
  test/common/storage/storageclasses/watchers_documents.spec.js
  test/plugin/nodemanagerbase.spec.js
  test/server/storage/userproject.spec.js
Labels: Auth, Client Library, Enhancement, Minor, Plugin, Storage
