Repository webgme/webgme-engine, pull requests merged in 2018-06, with the labels that each got.

#97 Changing meta rule removal propagation
  src/common/core/users/metarename.js
  src/server/worker/workerrequests.js
  test/common/core/users/metarename.spec.js
  test/common/core/users/rename/propRemove.webgmex
Labels: Enhancement, Meta, Minor

#98 Better handling of expired tokens in websocket
  src/common/storage/storageclasses/editorstorage.js
  src/server/storage/websocket.js
Labels: Bug, Major, Storage

#102 Update README.md and add documentation to client API.
  README.md
  src/client/client.js
  src/docs/client.doc.js
  test-karma/client/js/client.spec.js
Labels: Documentation, Enhancement, Minor

#100 Update major version of mocha and karma
  appveyor.yml
  package-lock.json
  package.json
  src/plugin/managerbase.js
  test/seeds/seeds.spec.js
  test/travis.sh
Labels: Enhancement, Major, Test, node_modules

#101 Allow webgme server to be mounted at non-root path
  config/README.md
  config/getclientconfig.js
  package.json
  src/app/index.html
  src/client/client.js
  src/client/pluginmanager.js
  src/common/Constants.js
  src/common/blob/BlobClient.js
  src/common/executor/ExecutorClient.js
  src/common/storage/socketio/browserclient.js
  src/server/api/index.js
  src/server/standalone.js
  test/common/blob/BlobClient.spec.js
  test/common/executor/ExecutorClient.spec.js
Labels: Enhancement, Major, Server

#103 Package update
  package-lock.json
  package.json
  test/travis.sh
Labels: Enhancement, Minor, node_modules

#104 Add option for plugin_bin to connect to storage via server
  index.js
  src/bin/run_plugin.js
  src/common/core/core.js
  src/server/worker/workerrequests.js
  src/utils.js
  test/bin/run_plugin.spec.js
  test/server/webgme.spec.js
Labels: CLI, Minor, New feature, Plugin

#105 Point to published npm package for requirejs-text
  package-lock.json
  package.json
  utils/postinstall.js
Labels: Bug, Minor, node_modules

#107 Log error when component-settings fails to load
  src/utils.js
Labels: Enhancement, Minor, Server

#108 Get library root id for GMENode
  src/client/gmeNodeGetter.js
  src/docs/client.getter.doc.js
  test/client/js/client/gmeNodeGetter.spec.js
Labels: Client Library, Enhancement, Minor
