Repository webgme/webgme-engine, pull requests merged in 2018-05, with the labels that each got.

#87 Fixes discrepancies in admin account and projects created at start up
  config/README.md
  config/config.default.js
  config/validator.js
  package-lock.json
  src/server/middleware/auth/gmeauth.js
  src/utils.js
  test/server/middleware/auth/gmeauth.configusersandorgs.spec.js
  test/server/standalone.startup.spec.js
Labels: Auth, Bug, Minor, Server

#89 Infer user at token verification instead at user api path
  src/server/api/index.js
  src/server/middleware/auth/gmeauth.js
  src/server/standalone.js
  test/server/standalone.auth.spec.js
Labels: Enhancement, Major, Server

#90 Minor fixes for release 2.19.8
  package-lock.json
  package.json
  src/common/core/librarycore.js
  src/server/api/index.js
  test/issue/86.spec.js
  test/issue/86/fromHfsm.json
  test/issue/86/fromRosmod.json
  test/issue/86/hfsm.webgmex
  test/issue/86/rosmod.webgmex
Labels: Bug, Core, Enhancement, Minor, Server

#92 Node module updates
  package-lock.json
  package.json
Labels: Enhancement, Minor, node_modules

#94 Add module for handling crosscuts using the core (e.g. from a plugin)
  jsdoc_conf.json
  src/common/core/users/crosscuts.js
  src/plugin/coreplugins/ConfigurationArtifact/metadata.json
  test/common/core/users/crosscuts.spec.js
Labels: Core, Enhancement, Minor

#95 Add addresses field and more details for webSockets in /api/status endpoint
  src/server/api/index.js
  src/server/standalone.js
  src/server/storage/websocket.js
  test/server/api/index.spec.js
Labels: Enhancement, Minor, REST API

#96 Fixes #82 by adding core.getCommonBase and getCommonParent and equivalents on client API
  src/client/gmeNodeGetter.js
  src/common/core/core.js
  test/_globals.js
  test/client/js/client/gmeNodeGetter.spec.js
  test/common/core/core.spec.js
Labels: Client Library, Core, Enhancement, Minor
