Repository webgme/webgme-engine, pull requests merged in 2020-02, with the labels that each got.

#183 Model import validation fix
  .travis.yml
  appveyor.yml
  package-lock.json
  package.json
  src/common/core/core.js
  src/server/worker/workerrequests.js
Labels: Enhancement, Major, Util

#184 Python plugin generation enhancement
  src/plugin/coreplugins/PluginGenerator/plugin_bindings_js.ejs
  src/server/standalone.js
Labels: Enhancement, Minor, Plugin

#186 Only call ensureAuthenticated if other auth methods fail. Fixes #185
  src/server/middleware/executor/ExecutorServer.js
Labels: Bug, Executor, Minor

#187 Add displayName to access tokens. Closes #182
  src/server/middleware/access-tokens/TokenServer.js
Labels: Enhancement, Minor, Server
