Repository webgme/webgme-engine, pull requests merged in 2020-06, with the labels that each got.

#214 Remove trailing whitespace from key. Fixes #213
  config/validator.js
  src/server/middleware/auth/EXAMPLE_ENCRYPTION_KEY
  src/server/middleware/auth/gmeauth.js
Labels: Bug, Minor, Server

#216 Websocket channel
  config/config.test.js
  src/client/client.js
  src/client/websocketRouterAccess.js
  src/common/storage/constants.js
  src/common/storage/socketio/websocket.js
  src/common/storage/storageclasses/editorstorage.js
  src/common/storage/storageclasses/simpleapi.js
  src/server/middleware/ExampleRestRouter.js
  src/server/middleware/websocket-router/WebsocketRouter.js
  src/server/storage/websocket.js
  test-karma/client/js/client.spec.js
  test/server/middleware/ExampleRestRouter.spec.js
Labels: Enhancement, Major, New feature, Server

#215 Stream upload to Blob storage - implements #210
  src/common/blob/BlobClient.js
  test/common/blob/BlobClient.spec.js
  test/common/util/key.spec.js
Labels: Enhancement, Minor, Server
